header {
  background-color: black;
}

header nav {
  padding: 15px;
}

header nav .navbar-collapse {
  background-color: black;
  width: 100%;
}

header nav button {
  margin-left: 80%;
  margin-top: -37px;
}

header nav button i {
  font-size: 30px;
  color: white;
}

header nav ul {
  list-style: none;
  align-items: center;
  padding-top: 15px;
}

header nav ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav img {
  margin-top: -17px;
  width: 250px;
  padding-top: 8px;
}

@media (max-width: 768px) {
  nav img {
    margin-right: 400px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

#hero {
  background-color: black;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 40px;
}

#hero h1 {
  color: white;
  font-size: 68px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 70px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

#hero span {
  font-weight: 600;
  background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

#video {
  background-color: black;
  position: relative;
}

#video video {
  width: 100%;
}

#video a {
  position: absolute;
  left: 90%;
  top: 80%;
  cursor: pointer;
  z-index: 10;
}

#video a i {
  color: white;
  font-size: 50px;
}

@media (max-width: 768px) {
  #video a {
    display: none;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#featured {
  text-align: center;
  color: white;
  background-image: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  font-family: "Roboto", sans-serif;
}

#featured .featured-item {
  margin-top: -140px;
  z-index: 1;
}

#featured .featured-item img {
  padding-bottom: 20px;
  width: 60%;
}

#featured .featured-item p {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  line-height: 23px;
  color: #a3a3a3;
}

#featured .featured-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 20px;
}

#featured .featured-item button {
  background-color: red;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  margin-bottom: -35px;
}

#featured .featured-item button:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

@media (min-width: 768px) and (max-width: 992px) {
  #featured .featured-item {
    margin-top: 0;
  }
  #featured .featured-item p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  #featured .featured-item img {
    margin-top: 20px;
    padding-top: 150px;
  }
  #featured .featured-item .keyboard {
    margin-bottom: -66px;
    margin-top: -50px;
  }
}

#products {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
  cursor: pointer;
}

#products .container h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

#products .container .row {
  padding-top: 70px;
  color: white;
}

#products .container .row .block {
  background-image: url("Gaming-website/img/source/lighter--StH5ln.jpeg");

  background-position: right;
  background-size: cover;
  height: 570px;
  width: 100%;
  position: relative;
  border: 0.1px solid #38383B;
}

#products .container .row .block.headphones {
  background-image: url("Gaming-website/img/source/lighter--EF9Q6Y.jpeg");
  background-position: center;
  border-left: none;
}

#products .container .row .block.mouse {
  background-image: url("Gaming-website/img/source/lighter--Ay4ty9.jpeg");
  background-position: center;
  border-top: none;
}

#products .container .row .block.mouse h4 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 480px;
}

#products .container .row .block:hover {
  transition: 0.3s;
}

#products .container .row .block:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}

#products .container .row .second {
  padding-top: 0;
}

#products .container .row .second .col-md-12 {
  background-image: url("Gaming-website/img/source/keyboard-white.jpeg");
  background-position: bottom;
  background-size: cover;
  height: 285px;
  width: 100%;
  border: 0.1px solid #38383B;
  border-right: none;
  border-top: none;
}

#products .container .row .second .col-md-12:hover {
  transition: 0.3s;
}

#products .container .row .second .col-md-12:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}

#products .container .row .second .col-md-12.pad {
  background-image: url("/img/source/lighter--ekufrw.jpeg");
  background-position: bottom;
  background-size: cover;
  height: 285px;
  width: 100%;
  border-right: none;
  border-top: none;
}

#products .container .row .second .col-md-12 h4 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 200px;
}

#products .container .row .second .col-md-12 a {
  color: black;
  display: block;
  margin-top: 120px;
  background-color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 130px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

#products .container .row .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#products .container .row .overlay a {
  color: black;
  display: block;
  margin-top: 250px;
  background-color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 130px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

#products .container .row h4 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 40px;
}

#products .container .row p {
  font-size: 16px;
  line-height: 7px;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (min-width: 992px) {
  #products h2 {
    padding-left: 23%;
    padding-right: 23%;
  }
}

@media only screen and (max-width: 768px) {
  .col-md-6 {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

#newsletter {
  color: white;
  text-align: center;
  background-color: black;
  font-family: "Roboto", sans-serif;
  padding-bottom: 120px;
}

#newsletter h4 {
  font-weight: 300;
  font-size: 30px;
}

#newsletter h3 {
  font-weight: 400;
  font-size: 30px;
  color: #cfcfcf;
  background-image: -webkit-linear-gradient(145deg, #a2fe73, #35fdb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

#newsletter input {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 270px;
  font-size: 17px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #cfcfcf;
  color: #cfcfcf;
  margin-top: 40px;
  background-color: transparent;
}

#newsletter input::placeholder {
  font-size: 20px;
}

#newsletter input:focus {
  border-color: green;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#instagram {
  padding-top: 70px;
  text-align: center;
  background-color: white;
  color: #333333;
}

#instagram h1 {
  font-size: 5.2vw;
  font-weight: 400;
  padding-bottom: 20px;
}

#instagram p {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 50px;
}

#instagram .col-md-4 {
  height: 470px;
  background-position: center;
  background-size: cover;
}

#instagram .col-md-4:hover {
  transition: 0.3s;
}

#instagram .col-md-4:hover .overlay {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}

#instagram .col-md-4.insta1 {
  background-image: url("./img/source/insta1.jpeg");
  width: 100%;
}

#instagram .col-md-4.insta2 {
  background-image: url("./img/source/medium.jpeg");
  width: 100%;
}

#instagram .col-md-4.insta3 {
  background-image: url("./img/source/insta3.jpeg");
  width: 100%;
}

#instagram .col-md-4.insta4 {
  background-image: url("./img/source/insta4.jpeg");
  width: 100%;
}

#instagram .col-md-4.insta5 {
  background-image: url("./img/source/insta2.jpeg");
  width: 100%;
}

#instagram .col-md-4.insta6 {
  background-image: url("./img/source/insta5.jpeg");
  width: 100%;
}

#instagram .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#instagram .overlay i {
  font-size: 40px;
  color: #333333;
  margin-top: 200px;
}

@media (min-width: 992px) {
  #instagram p {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media only screen and (max-width: 992px) {
  p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .col-md-4 {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: black;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ED3833;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #ED3833;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ED3833;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ED3833;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ED3833;
  padding: 13px 20px;
  border: 1px solid #ED3833;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ED3833;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ED3833;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
